@tailwind base;
@tailwind components;
@tailwind utilities;

/** prevents weird styling of font **/
.no-contextual-alternates {
  font-variant-ligatures: none;
  font-feature-settings: "calt" 0;
}

/** prevents user from selecting **/
.no-select {
  user-select: none;
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Product Sans Regular'), url('./fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Product Sans Light Regular'), url('./fonts/ProductSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Product Sans Medium Regular'), url('./fonts/ProductSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Product Sans Light Italic'), url('./fonts/ProductSans-LightItalic.woff') format('woff');
}

html,
body,
#root,
.app {
  height: 100%;
  background-color: #fff;
  color: #000;
}